<div class="row">
    <!-- FORM -->
    <div class="col-md-4 , mt-4, ml-auto">
        <div class="card">
            <div class="card-body p-4">
                <!-- FORM -->
                <form >
                    <div class="form-group">
                        <input type="number"  placeholder="Fecha" class="form-control">
                    </div>
                    <div class="form-group">
                            <input type="number" placeholder="Hora" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number"  placeholder="Valor cancelado" class="form-control">
                    </div>
                    <button class="btn btn-primary mr-2, mt-2">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="col-md-8, mt-4">
    <div class="card">
        <table class="table table-striped">
            <thead>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor Cancelado</th>
            </thead>
            <tbody>
                <tr>
                    <td>25/52/2020</td>
                    <td>20:22</td>
                    <td>36.5</td>
                    <td>
                        <a class="btn btn-secondary btn-sm">
                            <i class="material-icons">Editar</i>
                        </a>
                        <a class="btn btn-danger btn-sm">
                            <i class="material-icons">Eliminar</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
