<div class="container">
    <div class="row justify-content-center">
      <!-- FORM -->
      <div class="col-md-8 col-lg-6 mt-4">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Aspirante</h2>
          </div>
          <div class="card-body p-4">
            <!-- FORM -->
            <form #aspiranteForm="ngForm" (ngSubmit)="envioAspirantes(aspiranteForm.value)">
              <div class="form-group">
                <input type="text" name="nombre" ngModel placeholder="Nombres" class="form-control">
              </div>
              <div class="form-group">
                <input type="number" name="identificacion" ngModel placeholder="Identificación" class="form-control">
              </div>
              <button class="btn btn-primary mt-2">Crear</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-10 mt-4">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombres</th>
                  <th>Identificación</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aspirante of datosAspirantes.aspirantes">
                  <td>{{aspirante.nombre}}</td>
                  <td>{{aspirante.identificacion}}</td>
                  <td>
                    <a class="btn btn-secondary btn-sm">
                      <i class="material-icons" (click)="actualizarAspirante(aspirante, id)" >Editar</i>
                    </a>
                    <a class="btn btn-danger btn-sm">
                      <i class="material-icons" (click)="eliminarAspirante(aspirante._id)">Eliminar</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  